  <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Shop App</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, repellat. Inventore
                    maiores neque quam modi vitae recusandae non deserunt, excepturi animi quia praesentium dolorem
                    laboriosam molestias rem perferendis ad optio?
                    Accusantium debitis mollitia amet ipsum magni quam inventore similique earum incidunt. Odit harum
                    iusto
                    non eveniet, quibusdam dolore a expedita magnam minima at, ipsam, assumenda asperiores voluptate
                    placeat
                    labore totam.</p>
            </div>
        </div>

    </header>