@model CategoryListViewModel


<a href="/admin/categorycreate" class="btn btn-primary">Create Category</a>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 30px;">Id</th>
            <th>Name</th>
            <th style="width: 135px;"></th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Categories.Count()>0){
            @foreach (var item in Model.Categories)
                {
                    <tr>
                        <td>@item.CategoryId</td>
                        <td>@item.Name</td>
                        <td>
                            <a href="/admin/categories/@item.CategoryId" class="btn btn-sm btn-warning">Edit</a>
                            <form action="/admin/categorydelete" method="post" style="display: inline;">
                                <input type="hidden" value="@item.CategoryId" name="categoryId">
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
        }
        else{
            <div class="alert alert-warning">
                No Category
            </div>
        }
    </tbody>
</table>